{:title "Coruscation.net"
 :root-url "https://coruscation.net"
 :author "imakira"
 :links {:rss {:href "/atom.xml"
               :external? true}
         :github {:href "https://github.com/imakira/cerulean"}}
 :navigation {:home {:text "HOME"
                     :href "/"}
              :about {:text "ABOUT"
                      :href "https://github.com/imakira"}
              :projects {:text "PROJECTS"
                         :href "https://github.com/imakira"}}
 :special-pages ["about"]}
