@import "highlight.js/styles/github.css";
@import "tailwindcss";

html, body, #root {
    min-height: 100%;
    min-width: 100%;
    @apply break-words;
}

* {
    scroll-behavior: smooth;
}

@theme static {
    --color-primary: #0260B3;
    --color-secondary: var(--color-blue-500);
}

@source not inline('outline-{0..96}');


@utility horizontal-tb {
    writing-mode: horizontal-tb;
}

@utility vertical-rl {
    writing-mode: vertical-rl;
}

@utility vertical-lr {
    writing-mode: vertical-lr;
}

@utility sideways-rl {
    writing-mode: sideways-rl;
}

@utility sideways-lr {
    writing-mode: sideways-lr;
}

.cr-landscape {
  background-image: linear-gradient(
    180deg,
    hsl(224deg 70% 34%) 0%,
    hsl(207deg 100% 36%) 21%,
    hsl(198deg 100% 38%) 36%,
    hsl(186deg 100% 37%) 48%,
    hsl(172deg 100% 39%) 57%,
    hsl(138deg 63% 70%) 64%,
    hsl(81deg 89% 79%) 70%,
    hsl(104deg 97% 85%) 75%,
    hsl(133deg 100% 88%) 80%,
    hsl(153deg 100% 88%) 84%,
    hsl(166deg 100% 90%) 88%,
    hsl(176deg 100% 93%) 93%,
    hsl(183deg 100% 96%) 100%
  );
}


.cr-document {
    h1::before, h2::before, h3::before, h4::before, h5::before {
          content: '';
          display: block;
          height:      2rem;
          margin-top: -2rem;
          visibility: hidden;
    }
    h1,h2,h3,h4,h5{
        @apply text-neutral-700;
    }
    p,ul,ol,blockquote,li {
        @apply text-[#424242] text-[1.125rem];
    }
    h1 {
        @apply text-3xl my-3 font-semibold ;
    }
    h2 {
        @apply text-[1.75rem] mb-1 font-medium my-3;
    }
    h3 {
        @apply text-[1.5rem] mt-1 mb-1 font-medium;
    }
    h4 {
        @apply text-[1.25rem] mt-1 font-medium;
    }
    h5 {
        @apply text-[1rem] mt-1 font-medium;
    }
    p {
        @apply mt-1;
    }
    pre {
        @apply my-2 overflow-auto;
    }
    ul {
        @apply list-disc;
    }
    ol {
        @apply list-decimal;
    }
    ul ul, ol ol, ul ol, ol ul {
        @apply  ml-8;
    }
    ul, ol {
        @apply text-base list-inside
    }
    blockquote {
        @apply italic
    }
    hr {
        @apply border-cyan-600 my-6 border-t-2;
    }
    .org-svg {
        display: inline-block;
    }
    .figure {
        @apply flex flex-col items-center mt-4;
        p {
            @apply inline-block lg:max-w-[70%] text-gray-600;
        }
        img {
            max-width: 100%;
            max-height: 50rem;
            object-fit: scale-down;
        }
    }
    .equation-container {
        @apply flex justify-center my-2;
    }
}

.toc-mobile-wrapper {
    @apply overflow-hidden;
    grid-template-rows: 0fr;
    .toc-mobile-content {
      @apply overflow-hidden;
    }
}

#toc-mobile-control:checked ~ .toc-mobile-wrapper2 {
    .toc-mobile-wrapper {
      grid-template-rows: 1fr;
    }
}
#toc-mobile-control:checked ~ .toc-header {
    .dropdown-icon {
        @apply rotate-180;
    }
}

.toc-header-text {
    top: var(--toc-mobile-offset);
}

.icon {
    path {
        color: var(--color-primary);
    }
}


