@import "highlight.js/styles/github.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.cr-landscape {
  background-image: linear-gradient(
    180deg,
    hsl(224deg 70% 34%) 0%,
    hsl(207deg 100% 36%) 21%,
    hsl(198deg 100% 38%) 36%,
    hsl(186deg 100% 37%) 48%,
    hsl(172deg 100% 39%) 57%,
    hsl(138deg 63% 70%) 64%,
    hsl(81deg 89% 79%) 70%,
    hsl(104deg 97% 85%) 75%,
    hsl(133deg 100% 88%) 80%,
    hsl(153deg 100% 88%) 84%,
    hsl(166deg 100% 90%) 88%,
    hsl(176deg 100% 93%) 93%,
    hsl(183deg 100% 96%) 100%
  );
}


.cr-document {
    /**
       We don't know why it works, but it works
       for offseting the anchor (#id) for fixed header
    */
    h1::before, h2::before, h3::before, h4::before, h5::before {
          content: '';
          display: block;
          height:      5.5rem;
          margin-top: -5.5rem;
          visibility: hidden;
    }
    h1,h2,h3,h4,h5{
        @apply text-neutral-700;
    }
    p,ul,ol,blockquote,li {
        @apply text-[#424242];
    }
    h1 {
        @apply text-5xl my-5 font-semibold ;
    }
    h2 {
        @apply text-4xl my-4 font-medium;
    }
    h3 {
        @apply text-3xl my-3 font-medium;
    }
    h4 {
        @apply text-2xl my-2 font-medium;
    }
    h5 {
        @apply text-[1.35rem] my-2 font-medium;
    }
    p {
        @apply text-[1.35rem] leading-7 my-2;
    }
    pre {
        @apply my-5 overflow-auto;
    }
    ul {
        @apply list-disc;
    }
    ol {
        @apply list-decimal;
    }
    ul ul, ol ol, ul ol, ol ul {
        @apply  ml-8;
    }
    ul, ol {
        @apply text-xl list-inside
    }
    blockquote {
        @apply italic
    }
    hr {
        @apply border-cyan-600 my-6 border-t-2;
    }
}
