name: cerulean

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Install Nix
              uses: cachix/install-nix-action@v17
              with:
                extra_nix_config: |
                  access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            - name: Running Tests
              shell: 'nix develop .#ci -c bash -e {0}'
              run: make test-all
